.VSCodeCounter/
.DS_Store
array/rev_arr
expert/tsp
greetings/_greetings
greetings/g2
greetings/g32
greetings/greetings
math/_gcd
math/closest_num
math/f_triangle
math/factoral
math/find_sum
math/gcd
math/h_diamond
math/hr
math/is_even
math/nos
math/power
math/pyrmaid
math/rec_find_sum
math/rect
math/sum_consecutive
search/bench_mark
search/exe/
sort/sort_bench_mark
two-pointers/has_pair_sum
two-pointers/rem_dups_vect
two-pointers/rev_vector
two-pointers/two_sum
